
{%extends 'all-gallery/base.html'%} 
{% block content %}
<div class="container">
    <div class="container">
        <div class="row">
        <div class="col-md-12 d-flex justify-content-center mb-5">
          <button><a href="{% url 'locations' %}">Location</a></button>
          <!-- <button type="button" class="btn btn-outline-black waves-effect filter" data-rel="Location">Location</button> -->
        </div>
      </div>
  
    {% if images%}
      <h2>{{message}}</h2>
    {% else %}
      <h2> Found 0 images for the search term<u><strong style="color:brown"> {{message}}</u></strong></h2> 
    
    {% endif %}
  
    
        {% for phot in images %}
        {% if images %}
      <img src="{{phot.image.url}}" alt="Image" class="img-fluid">
    
  
     {% endif %}
     {% endfor %}
    
    </div>
  </div>
     
 
 

{% endblock %}