{%extends 'all-gallery/base.html'%} 
{% block content %}
<div class="container">

  <div class="row">
    <div class="columns">
    {% if images%}
      <h2>{{message}}</h2>
    {% else %}
      <h2> Found 0 images for the search term<u><strong style="color:brown"> {{message}}</u></strong></h2> 
    
    {% endif %}
  
    </div>
  <div class="row">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columns">
        {% for phot in images %}
        {% if images %}
      <img src="{{phot.image.url}}" alt="Image" class="img-fluid">
    
  
     {% endif %}
     {% endfor %}
       </div>
      </div>
     </div>
    </div>
 
 

{% endblock %}