h1
{
  color: green;
}
/* style the navigation bar*/
.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}
/* Navbar links*/
.navbar a {
  float: left;
  text-align: center;
  color: white;
  font-size: 17px;
}
/* Navbar links on mouse-over*/
